<footer class="footer">
  <div class="container_flecha">
    <a class="link" href="#hero"><i class="fa-solid fa-arrow-up flecha" style="color: #f26002;"></i></a>
  </div>
  <section class="footer__list1">
    <nav>
      <ul>
        <a title="adalab.es" class="link" href="https://adalab.es/"><li class="footer__list1--element">articles</li></a>
        <a title="adalab.es" class="link" href="https://adalab.es/"><li class="footer__list1--element">books</li></a>
        <a title="adalab.es" class="link" href="https://adalab.es/"><li class="footer__list1--element">events</li></a>
        <a title="adalab.es" class="link" href="https://adalab.es/"><li class="footer__list1--element">reasons</li></a>
        <a title="adalab.es" class="link" href="https://adalab.es/"><li class="footer__list1--element">tips</li></a>
      </ul>
    </nav>
  </section>
  <section class="footer__list2">
    <nav>
      <ul>
        <a title="adalab.es" class="link" href="https://adalab.es/"><li class="footer__list2--element">twitter</li></a>
        <a title="adalab.es" class="link" href="https://adalab.es/"><li class="footer__list2--element">instagram</li></a>
        <a title="adalab.es" class="link" href="https://adalab.es/"><li class="footer__list2--element">mastodon.social</li></a>
      </ul>
    </nav>
  </section>
  <section class="footer__copy">
    <p>&copy; 2023</p>
    <p> we <i class="fa-sharp fa-solid fa-heart" style="color: #f26002;"></i> components</p>
  </section>
</footer>