<section class="section2" id="section2">
    <h2 class="section2__title nameofsec">3 reasons to purchase</h2>
    <include src="./articlesec2"
    class="one"
    title="Ut semetus"
    text="Lorem, ipsum dolor sit amet consectetur."
    ></include>
    <include src="./articlesec2"
    class="two"
    title="Corabitur ac erat"
    text="Mauris mattis urna quis lorem molestie."
    ></include>
    <include src="./articlesec2"
    class="three"
    title="Morbi dictum"
    text="Aliquam in dolor et dolor tincidunt."
    ></include>
    <div class="section2__buttom">
        <a class="section2__buttom--link"></a><buttom title="more reasons">more reasons</buttom>
    </div>
</section>