.footer{
    background-color: $dark-grey-blue;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 30px;
    align-items: center;
    padding: 30px 0;
    padding-top: 50px;
    position: relative;
    &__list1{
        list-style: none;
        text-transform: uppercase;
        &--element{
            text-align: center;
            text-decoration: none;
        }
        &--link{
            text-decoration: none;
            color: $white;
        }
    }
    &__list2{
        text-transform: uppercase;
        &--element{
            text-align: center;
        }
        &--link{
            text-decoration: none;
            color: white;
        }
    }
    &__copy{
        text-align: center;
        color: $white;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 14px;
        line-height: 30px;
    }
}
.container_flecha{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-70px);
}
.flecha{
    background-color: $white;
    padding: 10px;
    width: 20.6px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.link{
    text-decoration: none;
    color: white;
}